<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oselot.android.tlilektik">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".activities.splash.SplashActivity" android:theme="@style/AppTheme.Fullscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activities.profileUser.ProfileUserActivity"/>
    <activity android:name=".activities.gallery.GalleryActivity"/>
    <activity android:name=".activities.galleryDetail.GalleryDetailActivity"/>
    <activity android:name=".activities.musicPlayer.MusicPlayerActivity"/>
    <service android:name=".utils.MusicPlayerService" />

  </application>

</manifest>